footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #555;
    font-size: 14px;
    margin: 0;
}
